@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

header,
footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #123456;
	color: white;
	padding: 24px;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 0 10px;
}

nav a:hover {
	text-decoration: underline;
}

main {
	padding: 20px;
}

.services-container {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.service {
	background-color: #f4f4f4;
	margin: 0.8rem;
	padding: 1.5rem;
	text-align: center;
}

h3 a {
	text-decoration: none;
	color: black;
}

h3 a:hover {
	text-decoration: underline;
}

.gallery-grid {
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr; */
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin-top: 1.2rem;
}

.gallery-grid > img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

#contact {
	margin-top: 20px;
}
form {
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

input,
textarea {
	width: 100%;
	padding: 10px;
	margin: 10px 0px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

button {
	background-color: #10576d;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

@media (max-width: 600px) {
	.services-container {
		flex-direction: column;
	}
	.gallery-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 480px) {
	.gallery-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}
